@charset "UTF-8" ;

/* TODAS AS DEMAIS MIDIAS*/

/* TYPICAL DEVICE BREAKPOINTS
pequenas telas : ate 600px
celular: 576px a 768px
tablet: 768px a 992px
desktop: 992px a 1200px
grandes telas acima de:Acima de 1200px
*/
@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
        width: 100vw;
    }
    section#login {
        width: 70vw;
        display: flex;
        flex-wrap: wrap;
    }
    section#login > div#imagem {
        flex: 40%; /* 30% da largura */
        height: auto; /* Altura automática */
    }
    section#login > div#formulario {
        flex: 40%; /* 70% da largura */
    }
}

@media screen and (min-width: 992px) {
    section#login {
        width: 950px;
        display: flex;
    }
    section#login > div#imagem {
        flex: 50%; /* 50% da largura */
        height: auto;
    }
    section#login > div#formulario {
        flex: 50%; /* 50% da largura */
    }
}
